<br>
	<div class="row col-12  d-flex justify-content-between" >
		<div class="col-md-4">
			<div class="card text-center text-black mb-3" id="Confirmed-Cases">
				<div class="card-header">
					<h5 class="card-title">Confirmed Cases</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center text-black mb-3" id="Total-Deaths">
				<div class="card-header">
					<h5 class="card-title"> Total Deaths</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>



		<div class="col-md-4">
			<div class="card text-center text-black mb-3" id="Total-Recoveries">
				<div class="card-header">
					<h5 class="card-title">Total Recoveries</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>